//---
//title: Welcome to Middleman
//---
.welcome
  %h1 Karl
  %h2 Danninger
  %p.doc
    = link_to "@KarlDanninger", 'http://twitter.com/karldanninger'

  %p.bio
    :markdown
      Trained in the ways of [code](http://github.com/kdanninger) & [design](http://dribbble.com/karldanninger).  
      *Young Padawan* working out of [OK, GROW!](http://okgrow.com)

  / .doc
/ .welcome